export EDITOR=nvim

SCRIPTS_FOLDER="$HOME/Scripts"
YAKA_FOLDER="$HOME/Documents/Pro/EPITA/YAKA"
ACU_FOLDER="$HOME/Documents/Pro/EPITA/ACU"
EPITA_FOLDER="$HOME/Documents/School/ING-EPITA/ING3"

alias editAliases='vim $HOME/.aliases'
alias resource='source $HOME/.zshrc'

function conda_def {
  # >>> conda initialize >>>
  # !! Contents within this block are managed by 'conda init' !!
  __conda_setup="$('/Users/lucasduport/miniconda3/bin/conda' 'shell.zsh' 'hook' 2>/dev/null)"
  if [ $? -eq 0 ]; then
    eval "$__conda_setup"
  else
    if [ -f "/Users/lucasduport/miniconda3/etc/profile.d/conda.sh" ]; then
      . "/Users/lucasduport/miniconda3/etc/profile.d/conda.sh"
    else
      export PATH="/Users/lucasduport/miniconda3/bin:$PATH"
    fi
  fi
  unset __conda_setup
  # <<< conda initialize <<<
}


# Practical usage

alias gs='git status --porcelain'
alias grep='grep --color -n'
alias la='ls -a'
alias makeshortcut="ln -s"
alias vim='nvim'
alias cat='bat'
alias code='open -a "/Applications/Visual Studio Code.app"'
alias firefox='open -a "/Applications/Firefox.app"'
alias zen='open -a "/Applications/Zen.app"'
alias idea='open -a "/Applications/IntelliJ IDEA.app"'
alias clion='open -a "/Applications/Clion.app"'

# Use zoxide with zsh
alias cd='z'
alias cdi='zi'

alias ls="eza --icons=always"
alias tree="eza --icons --tree"

alias folderSize='du -hd 1'
alias gdb='gdb -tui'
alias make='make -s'

function my_touch {
  mkdir -p $(dirname $1) && touch $1
}

# Rebinds capslock to escape
#setxkbmap -option caps:escape

# Temporary aliases
# EPTIA
alias epita="cd $EPITA_FOLDER"

# YAKA
alias yaka="cd $YAKA_FOLDER"
alias acu="cd $ACU_FOLDER"

alias autoTag="$SCRIPTS_FOLDER/autoTag.sh"
alias folderdiff="python3 $SCRIPTS_FOLDER/folder_diff.py"
alias tagdiff="python3 $SCRIPTS_FOLDER/tag_diff.py"

# Postgres variables
export PGDATA="$HOME/postgres_data"
export PGHOST="/tmp"
export PGPORT="5432"

# Elastic search variables
export ES_HOME="$HOME/elasticsearch-8.0.1"
export JAVA_HOME=/Users/lucasduport/Library/Java/JavaVirtualMachines/corretto-17.0.14/Contents/Home

# Go 1.17
export PATH=$PATH:/usr/local/go/bin

source ~/.private.aliases
