[core]
	excludesfile = ~/.gitconfig_ignore
[user]
	email = lucas.duport@epita.fr
	name = Lucas Duport
	signingkey = /Users/lucasduport/.ssh/id_ed25519.pub
[init]
	defaultBranch = master
[gpg]
	format = ssh
[commit]
	gpgsign = true
